footer {
  width: 100%;
  margin-bottom: 2em;
}

footer ul {
  padding: 0px;
}

footer ul li {
  list-style: none;
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.column-padding {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

@media (min-width: 768px) {
  .logo-column {
    width: 30%;
  }
  .content-column {
    width: 70%;
  }
}

.logo-container {
  height: 100%;
  border-right: 1px #9e9e9e solid;
  padding-bottom: 0.5em;
}

.logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.link {
  color: black;
  transition: 0.1s;
}

.link:hover {
  color: #9e9e9e;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

footer .hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 1px;
  left: 0px;
  background-color: #9e9e9e;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
